<!-- sidebar -->
<app-sidebar></app-sidebar>

<!-- headline -->
<div class="header">
    <div class="form-label">
        <h1><b>Dashboard </b></h1>
    </div>


    <!-- columns -->
    <!-- <div class="parent">

        <div class="child row">
                <div class="col-sm-4">
                    <div class="card" style="width: 230px; margin-left: 20px;">
                        <div class="text-center">
                            <h2 class="title">Total Contests:</h2>
                            <h1 class="title">{{data?.product}}</h1>
                            <p><button mat-raised-button color="accent" class="mt20"
                                    [routerLink]="['/admin-dashboard/contests']">
                                    View Contests</button></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card" style="width: 230px;margin-left: 10px;">
                        <div class="text-center">
                            <h2 class="title">Total Matches:</h2>
                            <h1 class="title">{{data?.product}}}}</h1>
                            <p><button mat-raised-button color="accent" class="mt20"
                                    [routerLink]="['/admin-dashboard/contests']">
                                    View Match</button></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card" style="width: 230px;">
                        <div class="text-center">
                            <h2 class="title">Total Product:</h2>
                            <h1 class="title">{{data?.product}}}}</h1>
                            <p><button mat-raised-button color="accent" class="mt20"
                                    [routerLink]="['/admin-dashboard/contests']">
                                    Contests</button></p>
                        </div>
                    </div>
                </div>
                
        </div>
    </div> -->
</div>