.header {
  margin-left: 252px;
}

.form-label h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 55px;
  background-color: #063146;
  user-select: none;
}

/* body {
  background-color: rgb(63, 63, 255);
  } */

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 496px;
  margin: 0 auto;
  padding: 9px;
  background-color: rgb(95, 95, 255);   
  } */

.card {
  width: 160px;
  height: 130px;
  /* margin-top: 10px; */
  /* margin-left: 252px; */
  display: inline-block;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 9px rgb(63, 63, 63);
}