<!-- admin-panel-sidebar -->
<div class="sidebar">

    <!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> -->
    <header>
        <!-- <img src="../../../assets/software-engineer.png" alt="calender" class="mr10" /> <b><i><u> Panel </u></i></b> -->
        <p><b> Admin-Panel </b></p>
    </header>

    <ul>
        <li>
            <a [routerLink]="'/admin-dashboard/player'"><img src="../../../assets/players.png" alt="players" />Adding-Players</a>
        </li>

        <li>
            <a [routerLink]="'/admin-dashboard/team'"><img src="../../../assets/hat.png" alt="hat" />Team Name/Country</a>
        </li>

        <li>
            <a [routerLink]="'/admin-dashboard/credits'"><img src="../../../assets/scoreboard2.png" alt="scoreboard" />Player-to-Teams</a>
        </li>

        <li>
            <a [routerLink]="'/admin-dashboard/matchFixtures'"><img src="../../../assets/calendar.png" alt="calender" />Match-Fixtures</a>
        </li>

        <li>
            <a [routerLink]="'/admin-dashboard/rules'"><img src="../../../assets/compliant.png" alt="compliant" />Game-Rules</a>
        </li>

        <li>
            <a [routerLink]="'/admin-dashboard/contest'"><img src="../../../assets/trophy.png" alt="trophy" />Create-Contests</a>
        </li>

        <li>
            <a [routerLink]="'/admin-dashboard/map-contest-fixture'"><img src="../../../../assets/mappingcontest.png" alt="mappingcontest" /> Map-Contest-Fixture </a>
        </li>


    </ul>
</div>